#form{
    margin: 100px auto 50px auto;
    display: flex;
    width: 500px;
    min-height: 100px;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 0;
}

#list{
    margin: 0 auto;
    width: 500px;
    padding: 8px;
}

.item{
    width: 100%;
    height: auto;
    border: none;
    border-bottom: 2px solid black;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
}

.itemChild{
    display: flex;
    gap: 10px;
}

.editBtn{
    background: transparent;
    color: rgb(34, 174, 34);
    border: none;
    padding: 0;
}

.deleteBtn{
    background-color: transparent;
    color: red;
    border: none;
    padding: 0;
}

.liText{
    padding: 0;
    margin: 0;
}